.git
.gitignore
.venv
.venv-1
venv
__pycache__
*.pyc
*.pyo
*.pyd
*.log

backend/__pycache__
backend/uploads/*
!backend/uploads/.gitkeep
backend/models/*.h5
backend/models/*.pt
backend/models/*.pkl
backend/models/*.pth

dental-caries-app
dental-caries-detection
runs
BÁO CÁO
git-installer.exe
check_models.py
test_models.py
run.bat
run.sh
